<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first session</title>
</head>
<body style="background-color:#FFE570;">
    <header>
        <h1 style="margin-left:500px; margin-top:20px;">READY FOR THE TEST..</h1>
    </header>
<div style="display:flex;">
    <ul style="list-style:none;">
        <li>1.What thoughts, feelings, or behaviours are troubling<br> you?<br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
    <ul style="list-style:none;">
        <li style="margin-left:300px">2.How much do you sleep, and do you feel tired even when<br> you sleep enough?
            <br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
</div>
<div style="display:flex;">
   <ul style="list-style:none;"><li>3. Do you feel capable of enjoying things, and do you<br>feel worthless?
    <br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>

   <ul style="list-style:none;"><li style="margin-left:300px">4.Do you still like to do the activities which you used to<br> like? 
    <br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>
</div>
<div style="display:flex;">
   <ul style="list-style:none;"><li>5. Feeling bad about yourself - or<br> that you are a failure or have let yourself or your family down?
    <br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>

   <ul style="list-style:none;"><li style="margin-left:300px">6. Do you feel easily frustrated or irritated and <br>how do you tackle it?<br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li>
</div>
    

    
</body>
</html>