<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second session</title>
</head>
<body style="background-color:#FFE570;">
    <header>
        <h1 style="margin-left:500px; margin-top:20px;">READY FOR THE SURVEY..</h1>
    </header>
    <div style="display:flex;">

    <ul style="list-style:none; margin-left:5px;">
        <li><h2>1.What do you think about this picture?</h2>
            <img src="Images/tag1.jpg" style="height:300px; width:400px;"><br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
    <ul style="list-style:none; margin-left:10px;">
        <li><h2>2.What do you infer from the picture below?Explain?</h2>
            <img src="Images/tag2.jpg"style="height:300px; width:400px;"><br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
    <ul style="list-style:none; margin-left:5px; margin-right:10px;">
        <li><h2>3.What do you get to know from picture?</h2>
            <img src="Images/tag3.jpg" style="height:300px; width:400px;"><br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
</div>
    
</body>
</html>