<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first session</title>
</head>
<body style="background-color:#FFE570;">
    <header>
        <h1 style="margin-left:500px; margin-top:20px;">READY TO BE IN SITUATIONS..</h1>
    </header>
<div style="display:flex;">
    <ul style="list-style:none;">
        <li>1.Think about a recent conflict you've had with someone close to you. What triggered the conflict,<br>
             and how did you handle it?<br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
    <ul style="list-style:none;">
        <li style="margin-left:400px">2.Picture yourself in a situation where you're feeling overwhelmed or anxious.
             What thoughts or emotions tend to arise, and how do you usually cope with them?<br><br>
            <textarea name="" id="" rows="4" cols="50"></textarea>
        </li>
    </ul>
</div>
<div style="display:flex;">
   <ul style="list-style:none;"><li>3."If you could change one thing about your current situation, what would it be and why?"

    <br><br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>

   <ul style="list-style:none;"><li style="margin-left:350px">4.Consider a goal or aspiration you've been struggling to achieve.<br> What obstacles have you encountered,
     and what steps have you taken to overcome them?"
    <br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>
</div>
<div style="display:flex;">
   <ul style="list-style:none;"><li>5. "Imagine you're faced with a major life transition, such as starting a new job or moving to
     a new city.<br> How do you typically adapt to change?"
    <br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>

   <ul style="list-style:none;"><li style="margin-left:300px">6.Reflect on a time when you felt particularly fulfilled or satisfied.
    What were you doing,<br>
    and what made that experience meaningful to you? <br><br>
    <textarea name="" id="" rows="4" cols="50"></textarea></li></ul>
</div>
     
</body>
</html>