{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/survey.css' %}">
</head>
<body>
    <div class="section">
        <nav> 
            <div class="navbar">
                <img src="{% static 'Images/Logo.png' %}" class="logo">
                <ul>
                    <li><a href="{% url 'index' %}">HOME</a></li>
                    <li><a href="{% url 'survey' %}">DETECTION</a></li>
                    <li><a href="{% url 'healing' %}">HEALING</a></li>
                    <li><a href="{% url 'about' %}">ABOUT US</a></li>
                </ul>
                <img src="{% static 'Images/Profile pic.png' %}" class="user-bitmoji" onclick="toggleMenu()">
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <hr>
                        <a href="{% url 'login' %}" class="sub-menu-link">
                            <p>Login</p>
                            <span></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <p>My Profile</p>
                            <span></span>
                        </a>
                        <a href="#" class="sub-menu-link">
                            <p>Setting & Privacy</p>
                            <span></span>
                        </a>
                        <a href="{% url 'contactus' %}" class="sub-menu-link">
                            <p>Help & Support</p>
                            <span></span>
                        </a> 
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Depression</h1>
                </div>
                <div class="content">
                    <p>Depression is a serious and common medical psychological condition that affects the way how you think, feel, and act. It interferes with your abilities and makes it difficult for you to do your everyday tasks.<br><br>
                        It is influenced by many things. Changes in the brain, like imbalances in chemicals, can contribute. Hormones and genetics also play a part. Depression is not just one thing—it's a mix of factors from our bodies, minds, and lives. Understanding all these parts helps us understand and treat depression better.</p>
                    <div class="button">
                        <form>
                            <a class="dropdown-button" href="#">
                                DO YOU WANT SURVEY?<br>
                            </a>
                            <br><br>
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="{% url 'session1' %}">Session 1</a>
                                </li>
                                <br>
                                <li>
                                    <a href="{% url 'session2' %}">Session 2</a>
                                </li>
                                <br>
                                <li>
                                    <a href="{% url 'session3' %}">Session 3</a>
                                </li>
                                <br>
                                <li>
                                    <button type="submit" class="new">Submit</button>
                                </li>                                   
                            </ul>
                            
                        
                            <script>
                                const dropdownMenu = document.querySelector(".dropdown-menu");
                                const dropdownButton = document.querySelector(".dropdown-button");
                        
                                if (dropdownButton) {
                                    dropdownButton.addEventListener("click", () => {
                                        dropdownMenu.classList.toggle("show");
                                    });
                                }
                            </script>

                        </form>
                    </div>
                </div>
                
            </div>    
        </div>
        <div class="image-section">
            <img src="{% static 'Images/SOD.png' %}">
        </div>
    </div>

<script src="{% static 'script.js' %}"></script>

</body>
</html>
